:root {
  --shadow-color: rgba(0, 0, 0, 0.4);
  --shadow: 0px 4px 12px 4px var(--shadow-color);
  --border-radius: 20px;
}

.content {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: end;
  padding-block-end: 30px;
}

.icon__setting {
  color: var(--light-color)
}

.calendar__week {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 25px;
  gap: 20px;
  color: var(--light-color);
  margin-block-end: 45px;
}

.calendar__weekdays {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calendar__weekdays::after {
  content: '';
  position: absolute;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  bottom: -5px;
  z-index: 3;
  height: 3px;
  width: 100%;
}

.calendar__weekday {
  font-weight: 500;
  font-size: 15px;
}

.calendar__days {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.calendar__day {
  display: grid;
  place-items: center;
  padding: 5%;
  font-weight: 300;
}

.calendar__day-today {
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
}

.calendar__full {
  display: none;
}

.task-control {
  margin-block-end: 45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.toggle-selection {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}
.my-tasks {
  font-size: 17px;
  font-weight: 500;
}

.toggle-select {
  width: 100%;
  height: 100%;
  padding: 3px 5px;
  justify-self: center;
  display: flex;
  justify-content: center;
}

.toggle__button {
  position: relative;
  z-index: 1;
  inline-size: 100%;
  padding-block: 7px;
  background-color: transparent;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  font-weight: 300;
  color: var(--text-color);
}

.active-select .toggle__button::before {
  content: '';
  position: absolute;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
}

.task-platform {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.full__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.time__checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10%;
}

.fixedButton {
  font-weight: 300;
  font-size: 13px;
  color: var(--light-color);
  background-color: var(--accent-color);
  padding: 10%;
  border-radius: var(--border-radius);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
}

.time__text {
  font-size: 15px;
  font-weight: 300;
}

.time::before {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 3px;
  border-radius: var(--border-radius);
  margin-bottom: 5px;
}

.task__ready .time::before {
  background-color: var(--light-color);
}

.task__done .time::before {
  background-color: var(--accent-color);
}

.task__ready .time__text {
  color: var(--text-color);
}

.task__done .time__text {
  color: var(--light-color);
}


.task-name {
  font-size: 15px;
  font-weight: 500;
}

.comments {
  font-size: 14px;
  font-weight: 300;
}

.task__container {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 15px 10px;
  width: 100%;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.task__ready .task__container {
  background-color: var(--accent-color);
}

.task__done .task__container {
  background-color: transparent;
  border: solid 3px var(--accent-color);
}

.task {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task__ready .task {
  color: var(--text-color)
}

.task__done .task {
  color: var(--light-color)
}

.checkbox {
  position: relative;
  block-size: 20px;
  inline-size: 20px;
  min-width: 20px;
  align-self: center;
}

.checkbox__task-done {
  position: absolute;
  opacity: 0;
  inline-size: 20px;
  block-size: 20px;
}

.checkbox__custom {
  position: relative;
  block-size: 20px;
  inline-size: 20px;
  min-block-size: 20px;
  min-inline-size: 20px;
  border: solid 3px var(--light-color);
  border-radius: 8px;
  pointer-events: none;
}

.checkbox__custom::after {
  content: '';
  position: absolute;
  background-image: url(/svg/done.svg);
  background-repeat: no-repeat;
  top: 1px;
  block-size: 100%;
  inline-size: 100%;
  opacity: 0;
}

.checkbox__task-done:checked + .checkbox__custom::after {
  opacity: 1;
}

.add-task {
  position: fixed;
  z-index: 5;
  bottom: 30px;
  inline-size: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.add__bg {
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  border: none;
  block-size: 70px;
  inline-size: 70px;
  display: grid;
  place-items: center;
  pointer-events: fill;
  box-shadow: var(--shadow);
}

.icon {
  block-size: 25px;
  inline-size: 25px;
  color: var(--light-color)
}

.dialog {
  background-color: transparent;
  border: none;
  margin: auto;
  inline-size: calc(100% - 60px);
}


.dialog::backdrop {
  background-color: #000;
  opacity: 0.4;
}

.dialog__window {
  block-size: 100%;
  inline-size: 100%;
  padding: 30px 15px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dialog__header {
  display: flex;
  justify-content: space-between;
  color: var(--light-color)
}

.dialog__title {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.set__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme__title {
  color: var(--light-color);
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dialog-save__buttons {
  display: flex;
  gap: 25px;
}

.create__input {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.date-task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.input {
  width: 100%;
  background-color: var(--bg-color);
  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--light-color);
  font-size: 15px;
  font-weight: 300;
}

.input__title {
  color: var(--light-color);
  text-transform: lowercase;
  font-weight: 300;
  font-size: 17px;
}

.create__button {
  inline-size: 100%;
  padding-block: 15px;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  color: var(--accent-color);
  text-transform: uppercase;
}

.delete__button {
  background-color: var(--accent-color);
  text-transform: uppercase;
  color: var(--light-color);
  font-weight: 300;
  box-shadow: var(--shadow);
  inline-size: 100%;
  padding-block: 15px;
  border-radius: var(--border-radius);

}